@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    padding: 0 auto;
    margin: 0 auto;
    list-style: none;
    text-decoration: none;
}
/*SECCIÓN ARRIBA*/
.parte-arriba{
    height: 100vh;
    width: 100%;
    background: rgb(255,245,228);
background: linear-gradient(180deg, rgba(255,245,228,1) 0%, rgba(255,227,225,1) 23%, rgba(255,209,209,1) 63%, rgba(255,148,148,1) 99%);
}
 
header{
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

header img{
    width: 100%;
    height: 100px;
}
.botones-header{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.botones-header button a{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    color: rgb(245, 137, 36);

}
.botones-header button{
height: 50px;
width: 100px;
border-radius: 5px;
border-style: none;
background-color: #ffffff00;
border: 2px solid rgb(248, 185, 148);

}

.botones-header button:hover,
.botones-header button:focus {
  background-color: #ffffff;
  border: 2px solid white;
  transition: all ease-in 200ms;
}

/*HERO*/
.hero{width: 100%;
height: 70%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;}


.texto-hero{width: 50%;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
line-height: 200px;
}

.texto-hero h1{
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-size: 100px;
    text-shadow: 0px 3px 2px rgba(45, 45, 45, 1);
    color: rgb(255, 255, 255);
}
.texto-hero h2{
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-size: 30px;
    color: rgb(119, 45, 10);
   
}

.hero img{
    width: 50%;
height: auto;
}



/*CARTA DEL MEDIO*/
.carta{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Shantell Sans', cursive;

}
.torta-contenedor-1{
    background-image: url(./assets/oreo1.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 400px;
    height: 400px;
    clip-path: circle(45% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;

}



 .torta-contenedor-2{
        background-image: url(./assets/Captura2.JPG);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 400px;
        height: 400px;
        clip-path: circle(45% at 50% 50%);
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .torta-contenedor-3{
        background-image: url(./assets/Captura3.JPG);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 400px;
        height: 400px;
        clip-path: circle(45% at 50% 50%);
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .carta h2{
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(236, 112, 139, 0.514);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .carta h2:hover{
        opacity: 6;
        transition: all ease-in 200ms;}


/*ABOUT-US*/
.about-us{
    width: 100%;
    height: 30vh;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor{
    padding: 50px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*PEDIDOS*/

.abajo{width: 100%;
height: 30vh;
display: flex;
justify-content: center;
align-items: center;
text-align: center;}

.contenedor-pedidos{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.contenedor-pedidos img{
cursor: pointer;
}

/*FOOTER*/

footer{width: 100%;
height: 30vh;
background-color: cornflowerblue;
display: flex;
justify-content: center;
align-items: center;}

.contenedor-imagen img{
    width: 250px;
    height: auto;
}